<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <activity
      android:name="com.waterfirst.softlock.WaterfirstBlockingActivity"
      android:excludeFromRecents="true"
      android:exported="false"
      android:launchMode="singleTask"
      android:theme="@android:style/Theme.Material.NoActionBar" />

    <service
      android:name="com.waterfirst.softlock.WaterfirstAccessibilityService"
      android:exported="false"
      android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
      <intent-filter>
        <action android:name="android.accessibilityservice.AccessibilityService" />
      </intent-filter>

      <meta-data
        android:name="android.accessibilityservice"
        android:resource="@xml/waterfirst_accessibility_service" />
    </service>
  </application>
</manifest>
